.DS_Store
bnn-predictive/experiments/results/
bnn-predictive/conda
bnn-predictive/data/FMNIST
.idea
*.log
.direnv
tmp/
.venv
wandb
.hydra

*.py[cod]
*.egg
build
htmlcov

*.aux
.auctex-auto
paper/main.pdf
*superseded
*.bbl
*.gz
*.fls
*.blg
*.out
*.envrc
*.egg-info
*.pkl
*.err
*.out

.dir-locals.el

*multirun

.ipynb_checkpoints/
